@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes seedFloat {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateX(-35px) translateY(12px) rotate(-4deg);
  }

  100% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
}

.animate-seedFloat {
  animation: seedFloat 7s ease-in-out infinite;
}